
<div class="container-fluid row justify-content-center">
  <ul class="card list-group col-sm-8 p-4">
    <h1 class="display lg-2">Dashboard</h1>
  <p class="lead mb-3">Welcome <%= name %> </p>
          <h1 class="display lg-6 text-center">Menu</h1>
          <% for (let i=0; i<menu.length; i++){ %>
            <li class="list-group-item">
              <img src="<%= menu[i].itemImage %>" alt="" height="50" width="50">
              <span class="lead mb-3 menu-items"> <%= menu[i].itemName %> - </span>
              <span class="lead mb-3 menu-items">₹ <%= menu[i].itemPrice %> </span>
            </li>
         <% } %>
         <div class="row d-flex justify-content-center">
         <div class="row-md-2 p-2">
         <a href="/users/logout" class="btn btn-secondary btn-block">Logout</a>
         </div>
         <div class="row-md-2 p-2">
         <a href="/users/menu" class="btn btn-primary btn-block">Edit Menu</a>
         </div>
         </div>
  </ul>
  <div class="card row col-sm p-4 justify-content-center">
    <form action="/dashboard" method="POST">
      <input type="text" id="tablenumber" name="tablenumber" 
        placeholder="enter table number here" class="form-control p-4"> 
        <div class="row-md-2 p-2">
      <button class="btn btn-primary sm" id="tablesubmit" type="submit">show qr code!</button>
        </div>
    </form>
    <img alt="Menu barcode"
    src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=<%= barcode %>"
    class="rounded mx-auto d-block pt-5 pb-2" >
    <p class="text-muted text-center">Save/Print this image for <br>customer's to open your menu!</p>
</div>
</div>
<h1 class="display lg-6 text-center">Pending orders :</h1>
<% for (let i=0; i<orders.length; i++){ %>
  <% if (!orders[i].payment) { %>
  <li class="list-group-item">
    <% for (let j=0; j<orders[i].items.length; j++){ %>
      <ol class="lead"> 
        <li> <%= orders[i].items[j] %> </li>
      </ol>
    <% } %>
    <span class="lead mb-3 menu-items"> Table No. <%= orders[i].table %> - </span>
    <span class="lead mb-3 menu-items">₹ <%= orders[i].totalPrice %> </span>
  </li>
<% } %>
<% } %>

